<div class="footer">
      <div class="container">
         <div class="row">
            <div class="col-12 col-md-2" style="padding-top: 10px;">
                  <h1>SB</h1>
            </div>
            <div class="col-12 col-md-5" style="padding-top: 15px;">
               <div class="container-fluid">
                  <div class="social-media-list">
                     <a href="https://www.instagram.com/sb_kandhasamy">
                        <i class="fa fa-instagram" style="color: #ac2bac;"></i>
                     </a>
                     <a href="https://www.linkedin.com/in/sbkandhasamy">
                        <i class="fa fa-linkedin" style="color: #ac2bac;"></i>
                     </a>
                     <a href="https://www.youtube.com/@sblittlewonder">
                        <i class="fa fa-youtube-play" style="color: #ac2bac;"></i>
                     </a>
                  </div>
               </div>
            </div>
            <div class="col-12 col-md-5" id="footerAddress">
               <h2>Address</h2>
               <p>Pullanviduthy west, Alangudi, Pudukkottai, 622 304.</p>
            </div>
         </div>
      </div>
</div>