<div class="footer">
      <div class="container-fluid">
         <div class="row">
            <div class="col-3">
               <h1>SB</h1>
            </div>
            <div class="col-5">
               <div class="container-fluid" style="padding-top: 25px;">
               <div class="social-media-list">
                  <a href="https://www.instagram.com/sb_kandhasamy">
                     <i class="fa fa-instagram" style="color: #ac2bac;"></i>
                  </a>
                  <a href="https://www.facebook.com/kandhasamy.banu">
                     <i class="fa fa-facebook" style="color: #2b8eac;"></i>
                  </a>
                  <a href="https://www.linkedin.com/in/sbkandhasamy">
                     <i class="fa fa-linkedin" style="color: #ac2bac;"></i>
                  </a>
                  <a href="https://www.youtube.com/@sblittlewonder">
                     <i class="fa fa-youtube-play" style="color: #ac2bac;"></i>
                  </a>
               </div>
            </div>
            </div>
            <div class="col-4" id="footerAddress">
               <h2>Address</h2>
               <p>Pullanviduthy West, Alangudi tk, Pudukkottai district, 622 304.</p>
            </div>
         </div>
      </div>
   </div>