{{/* This define block is used by partials/header.html */}}
{{ define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end }}

{{ partial "header.html" . }}
<body>
{{ partial "navbar.html" . }}

<main>
    <div class="container pb-5">
        <div class="row pt-5">
            <div class="heading">
                <h1>{{ .Title }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
            <div class="list-group">
                {{ range .Pages.ByDate.Reverse }}
                    <a href="{{ .RelPermalink }}" class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ .Title }}</h5>
                            <small>{{ .Date.Format "January 2, 2006" }}</small>
                        </div>
                        <!-- {{ if .Summary }}
                            <p class="mb-1">{{ .Summary }}</p>
                        {{ end }} -->
                    </a>
                {{ end }}
            </div>
            </div>
            {{/* Optional: Add pagination if you have many posts */}}
            {{/* {{ partial "pagination.html" . }} */}}
        </div>

    </div>
</main>

{{ partial "footer.html" . }}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
